<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/anpin/index.json" />
    <add key="npgsql-vnext" value="https://www.myget.org/F/npgsql-vnext/api/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
      <github>
          <add key="Username" value="%GH_USERNAME%" />
          <add key="ClearTextPassword" value="%GH_PAT%" />
      </github>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceMapping>
    <packageSource key="github">
      <package pattern="Akka.Persistence.PostgreSql" />
      <package pattern="Akka.Persistence.PostgreSql.Hosting" />
    </packageSource>
    <packageSource key="npgsql-vnext">
      <package pattern="Npgsql" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
